<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add successfully</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">

    <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>
    <h1>To-do</h1>
    <h1 style="color: green" th:text="#{tiep.message.success}"></h1>
    <a th:href="@{/listTodo}" th:text="#{tiep.value.viewListTodo}" class="btn btn-primary"></a>
</body>
</html>